/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.message-top {
  display: flex;
  justify-content: space-between;
  /* min-width: 30px;
  min-height: 50px; */
}
.message-bottom {
  text-align: right;
}
.message.received {
  float: left;
  clear: both;
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 20%;
}
.message.sent {
  float: right;
  clear: both;
  background-color: green;
  border: 1px solid black;
  border-radius: 20px;
  width: 20%;
}
#received-message li {
  list-style: none;
}
.message-text {
  padding: 0 10px;
  color: black;
}
 small .message-time  {
  color: black;
  font-size: 5px;
  padding-left: 10px;
}
