/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.message-top {
  display: flex;
  justify-content: space-between;
}
.message-bottom {
  text-align: right;
}
.message.received {
  background: grey;
  border: 1px solid black;
  width: 20%;
}
#received-message li {
  list-style: none;
}
.message-text {
  padding: 0 10px;
}
.message-time {
  color: black;
}
